* {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

body {
    background: #f6f6f6;
    color: #282828;
    margin-top: 25px;
}
.task-container{
    margin-top: 20px;
}

ul {
    margin: 0;
    padding: 0;
}
/* .task-input{
    width: 100%;
}
.task-input input {
    border-radius:4px;
} */
.add-task {
    float: left;
    margin:10px;
}

.finished-task {
    float: left;
    margin:30px;
}
.task-done{
    margin-top:5px;
    width: 200px;
}